*{
    margin: 0px;
    padding: 0px;
}

.menu-bar{
    background-color: rgb(49, 41, 41);
}
.nav-link{
    font-size: 15px;
    margin: 6px;
    color: rgb(243, 236, 236)!important;
    font-weight: 500;
}
.imagee{
    margin-left: 1rem;
    max-width: 3rem;

}

.navbar-nav{
    align-items: left;
    margin-right: 5px;
}

.menu-bar .navbar-toggler{
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}

.navbar .fa{
    color: #fff!important;
    font-size: 26px;
}
.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid #fff;
    /* border-top: 1px solid white; */
}
@media only screen and (max-width: 468px){
    .nav-link:hover{
        border-bottom: none !important;
    }
    .carousel-caption{
        font-size: 10px;
    }
    .map{
        width: 16px;
    }
}
.form-control{
    float: right;
}

.carousel-caption{
    color: #ffffff;
    text-align: left;
    margin-left: 5px;
}
/* #icons{
    gap: 2rem !important;
} */
#btn{
    border-radius: 1.5rem;
    text-decoration: none;
    font-size: larger;
    font-weight: 400;
    background-color: black !important;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;

}
#btn a{
    color: #fff;
}